a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.main-wrapper{
    margin: 0  auto;
    width: 1160px;
}
.main-header{
    background-color: #f7e296;
    width: 100%;
    height: 317px;
    margin-top: 40px;
    padding: 0;
}
.main-header-main-navigation{
    padding:0;
}
.main-header-main-navigation-logo{
    display: block;
    position: relative;
    top: -20px;
    left: 60px;
    width: 165px;
}
.main-header-main-navigation-list{
    display: flex;
    position: relative;
    margin-left: 20px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy ExtraBold", sans-serif;
    text-transform: uppercase;
}
.main-catalog-flexitem1{
    margin-right: 295px;
    width: 210px;
}
.main-catalog-flexitem2{
    margin-right: 38px;
}
.main-catalog-flexitem3{
    margin-right: 115px;
}
.main-catalog-flexitem4{
    margin-right: 60px;
}
.main-header-main-navigation-login{
    display: flex;
    margin-left: 600px;
    justify-content: space-between;
}
.main-catalog{
    display: none;
    font-family: "Myriad Pro", sans-serif;
    font-size: 15px;
    text-transform: none;
}

.main-header-main-navigation-list >li:hover > .main-catalog{
    display: block;
}
.main-header-main-navigation-list >li:focus > .main-catalog{
    display: block;
}
.main-catalog-flex{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    margin-left: -39px;
    justify-content: flex-start;
    align-content: space-between;
}
